* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: white;
  min-height: 100vh;
}

.title {
  padding: 100px 0 50px 0;
  text-align: center;
  color: #44c99d;
  text-shadow: 2px 8px 5px rgba(0, 0, 0, 0.2), 0px -5px 25px rgba(255, 255, 255, 0.3);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.message-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 30px;
  display: -ms-grid;
  display: grid;
  gap: 25px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.message-container .message {
  position: relative;
  padding: 15px;
  border-radius: 10px;
  -webkit-box-shadow: -2px -2px 10px white, 3px 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: -2px -2px 10px white, 3px 3px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.message-container .message i {
  position: absolute;
  top: -7px;
  right: -7px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.4em;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.message-container .message img {
  display: inline-block;
  max-width: 70px;
  width: 70px;
  max-height: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 2px solid #44c99d;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.message-container .message h1 {
  padding: 5px 0px;
  color: #44c99d;
  text-shadow: 1px 1px 3px rgba(41, 41, 41, 0.616);
  font-size: 1.5em;
}

.message-container .message .message-info {
  padding: 10px 20px;
  text-align: left;
  line-height: 1.7;
  color: rgba(0, 0, 0, 0.85);
}

.message-container .message:hover {
  -webkit-box-shadow: -1px -1px 10px white, 2px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: -1px -1px 10px white, 2px 2px 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}
